<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container" style="width: 100%;">
    <div class="row" style="width: 100%;">
      <a class="navbar-logo col-3" routerLink="/landing">
        <img src="../../assets/Icons/zapp.png" width="50%">
      </a>
      <div class="col-9 mt-auto mb-auto">
        <div class="row mt-auto justify-content-end">
          <div class="col-2 mt-auto mb-auto">
            <a class="nav-link center fit" aria-current="page" routerLink="/landing">Über uns</a>
          </div>
          <div class="col-2 mt-auto mb-auto">
            <a class="nav-link center fit" routerLink="/ambulant">Ambulant</a>
          </div>
          <div class="col-2 mt-auto mb-auto">
            <a class="nav-link center fit" routerLink="/ambulant">Stationär</a>
          </div>
          <div class="col-2 mt-auto mb-auto">
            <a class="nav-link center fit" routerLink="">Kontakt</a>
          </div>
          <div class="col-3 mt-auto mb-auto">
            <a class="nav-link center fit" routerLink="">Stellenausschreibungen</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>